In [4]:
# taken partially from tutorial at: https://stmorse.github.io/journal/espn-fantasy-python.html
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import requests

league1 = 380134
league2 = 1553391
leagues=[league1, league2]

weeks = 15

scores={}

for i in range(len(leagues)):
    scores[i] = {}
for week in range(1, weeks+1):
    for league in range(len(leagues)):
        r = requests.get('http://games.espn.com/ffl/api/v2/scoreboard', 
                         params={'leagueId': leagues[league], 'seasonId': 2018, 'matchupPeriodId': week})
        scores[league][week] = r.json()

df = []
dfRecord = []
for league in range(len(leagues)):
    for week in scores[league]:
        temp = scores[league][week]['scoreboard']['matchups']
        for match in temp:
            
            df.append([week, 
                       match['teams'][0]['team']['teamAbbrev'],
                       match['teams'][1]['team']['teamAbbrev'],
                       match['teams'][0]['score'],
                       match['teams'][1]['score']
                      ])


df = pd.DataFrame(df, columns=['Week', 'HomeAbbrev', 'AwayAbbrev', 'HomeScore', 'AwayScore'])
df.head()
df = (df[['Week', 'HomeAbbrev', 'HomeScore']]
      .rename(columns={'HomeAbbrev': 'Abbrev', 'HomeScore': 'Score'})
      .append(df[['Week', 'AwayAbbrev', 'AwayScore']]
             .rename(columns={'AwayAbbrev': 'Abbrev', 'AwayScore': 'Score'}))
     )

# now adding the record:

for league in range(len(leagues)):
    temp2=scores[league][weeks]['scoreboard']['matchups']
    for match in temp2:
        for team in match['teams']:
#         append "points for" for debugging purposes
            dfRecord.append([
                            team['team']['teamAbbrev'],
                            team['team']['record']['pointsFor'],
                            team['team']['record']['pointsAgainst'],
                            team['team']['record']['overallWins'],
                            team['team']['record']['overallLosses'],
                            team['team']['record']['overallTies']
                            ])
dfRecord = pd.DataFrame(dfRecord, columns=["Abbrev", "Points For", "Points Against", "Overall Wins","Overall Losses", "Overall Ties"])
dfRecord = dfRecord.set_index('Abbrev')
df1 = df.groupby("Abbrev")["Score"].describe().drop("count", axis=1)
s1 = df.groupby("Abbrev")['Score'].sum()
finalDF = df1.join(dfRecord)
finalDF = finalDF.sort_values(by=['Overall Wins','Points For'], ascending=[False,False])
finalDF = finalDF.reset_index()
finalDF.index +=1
display(finalDF)

,Abbrev,mean,std,min,25%,50%,75%,max,Points For,Points Against,Overall Wins,Overall Losses,Overall Ties
1,PETR,130.934667,43.091544,58.32,102.04,116.48,173.36,193.48,1580.08,1068.68,11,2,0
2,LURI,130.794667,38.359263,93.26,104.36,122.84,130.02,220.64,1528.22,1212.44,10,3,0
3,AQP,117.993333,27.276421,92.68,101.62,109.20,124.97,204.50,1432.46,1137.16,9,4,0
4,AUTO,117.756000,39.636431,69.40,93.32,116.90,133.32,224.08,1377.40,1190.48,9,4,0
5,HARN,123.272000,50.318227,72.24,90.30,116.72,128.05,242.62,1374.94,1312.24,9,4,0
6,LEE,118.085333,41.800790,78.62,92.31,105.58,128.70,244.38,1363.88,1161.88,9,4,0
7,KANG,110.900000,37.926100,76.88,88.59,97.42,117.04,203.72,1268.26,1085.52,9,4,0
8,FITZ,117.070667,28.731279,79.00,100.46,110.00,127.70,176.94,1404.30,1229.16,8,5,0
9,DREW,103.045333,22.147346,61.36,87.49,106.30,122.36,141.16,1279.58,1197.88,8,5,0
10,QSTG,103.797333,34.918525,70.32,83.99,94.06,108.53,204.02,1247.78,1210.10,8,5,0
11,MASI,98.233333,27.276896,47.70,84.55,101.54,113.18,158.56,1203.66,1249.06,8,5,0
12,BAIL,114.216000,28.174433,67.88,92.16,111.36,131.49,171.22,1429.68,1327.70,7,6,0
13,DB,103.594667,29.125213,66.60,86.34,91.60,114.17,172.02,1224.16,902.32,7,6,0
14,ROCK,102.724000,29.905937,60.88,87.17,98.72,110.01,186.60,1221.80,1161.98,7,6,0
15,B50,91.836000,25.981948,43.94,79.99,94.64,102.27,153.90,1176.80,1338.28,7,6,0
16,OBIE,98.328000,39.884222,32.70,75.13,100.58,109.11,211.18,1132.10,1114.70,7,6,0
17,NATH,97.029333,31.835393,52.60,76.54,93.72,101.31,171.48,1130.84,1098.20,7,6,0
18,MACK,107.301333,33.543158,63.86,86.96,99.42,116.51,191.46,1258.82,1218.16,6,7,0
19,LARS,101.806667,36.259982,59.28,78.19,100.84,110.33,198.22,1175.92,1140.34,6,7,0
20,KING,91.265333,32.880571,29.16,74.46,82.88,103.22,166.88,1064.06,1122.58,6,7,0
21,DDC,83.200000,45.329900,34.16,49.84,80.62,98.75,189.74,891.36,1115.44,5,8,0
22,SRIV,78.708000,33.919418,29.90,55.75,72.36,97.76,159.00,918.62,1243.96,4,9,0
23,Cam,72.609333,32.827580,12.80,56.28,74.64,94.51,115.52,859.30,1190.02,4,9,0
24,DRAG,101.810667,34.155017,52.68,82.85,94.42,109.68,176.32,1180.26,1318.86,3,10,0
25,TRAN,82.982667,24.553562,59.50,62.26,75.22,92.26,147.10,996.12,1181.46,3,10,0
26,GEOR,79.814667,26.979855,45.58,65.91,71.98,91.86,152.00,928.82,1290.18,2,11,0
27,VINA,57.334667,35.629582,6.50,28.95,53.70,87.22,112.66,765.12,1244.88,2,11,0
28,ZHAO,71.229333,39.163500,29.50,46.83,59.04,76.42,172.20,753.92,1104.60,1,12,0