In [3]:
# taken partially from tutorial at: https://stmorse.github.io/journal/espn-fantasy-python.html
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import requests

league1 = 380134
league2 = 1553391
leagues=[league1, league2]

weeks = 6

scores={}

for i in range(len(leagues)):
    scores[i] = {}
for week in range(1, weeks+1):
    for league in range(len(leagues)):
        r = requests.get('http://games.espn.com/ffl/api/v2/scoreboard', 
                         params={'leagueId': leagues[league], 'seasonId': 2018, 'matchupPeriodId': week})
        scores[league][week] = r.json()

df = []
dfRecord = []
for league in range(len(leagues)):
    for week in scores[league]:
        temp = scores[league][week]['scoreboard']['matchups']
        for match in temp:
            
            df.append([week, 
                       match['teams'][0]['team']['teamAbbrev'],
                       match['teams'][1]['team']['teamAbbrev'],
                       match['teams'][0]['score'],
                       match['teams'][1]['score']
                      ])


df = pd.DataFrame(df, columns=['Week', 'HomeAbbrev', 'AwayAbbrev', 'HomeScore', 'AwayScore'])
df.head()
df = (df[['Week', 'HomeAbbrev', 'HomeScore']]
      .rename(columns={'HomeAbbrev': 'Abbrev', 'HomeScore': 'Score'})
      .append(df[['Week', 'AwayAbbrev', 'AwayScore']]
             .rename(columns={'AwayAbbrev': 'Abbrev', 'AwayScore': 'Score'}))
     )

# now adding the record:

for league in range(len(leagues)):
    temp2=scores[league][weeks]['scoreboard']['matchups']
    for match in temp2:
        for team in match['teams']:
#         append "points for" for debugging purposes
            dfRecord.append([
                            team['team']['teamAbbrev'],
                            team['team']['record']['pointsFor'],
                            team['team']['record']['pointsAgainst'],
                            team['team']['record']['overallWins'],
                            team['team']['record']['overallLosses'],
                            team['team']['record']['overallTies']
                            ])
dfRecord = pd.DataFrame(dfRecord, columns=["Abbrev", "Points For", "Points Against", "Overall Wins","Overall Losses", "Overall Ties"])
dfRecord = dfRecord.set_index('Abbrev')
df1 = df.groupby("Abbrev")["Score"].describe().drop("count", axis=1)
s1 = df.groupby("Abbrev")['Score'].sum()
finalDF = df1.join(dfRecord)
finalDF = finalDF.sort_values(by=['Overall Wins','Points For'], ascending=[False,False])
finalDF = finalDF.reset_index()
finalDF.index +=1
display(finalDF)

,Abbrev,mean,std,min,25%,50%,75%,max,Points For,Points Against,Overall Wins,Overall Losses,Overall Ties
1,LEE,101.250000,17.888646,78.62,90.445,99.40,110.035,129.04,607.50,494.46,6,0,0
2,LURI,120.366667,21.999493,93.26,105.830,122.54,126.950,155.18,722.20,545.08,5,1,0
3,FITZ,113.320000,12.904275,97.00,108.005,111.95,115.250,135.98,679.92,487.18,5,1,0
4,AUTO,109.353333,19.831561,73.80,103.430,117.58,120.150,127.44,656.12,607.64,5,1,0
5,NATH,86.996667,15.013426,67.90,75.940,88.06,99.940,102.16,521.98,480.40,5,1,0
6,PETR,115.490000,41.295710,58.32,101.445,112.90,122.750,185.16,692.94,591.30,4,2,0
7,HARN,111.593333,16.463636,83.36,106.185,114.89,121.165,129.88,669.56,665.56,4,2,0
8,AQP,110.740000,11.180447,100.74,102.025,107.15,117.375,128.30,664.44,521.62,4,2,0
9,DREW,106.270000,18.773666,78.48,94.075,110.25,120.050,126.64,637.62,534.84,4,2,0
10,MACK,104.726667,20.898236,86.06,89.085,97.23,117.675,136.98,628.36,550.20,4,2,0
11,MASI,93.063333,16.948720,73.34,82.965,88.85,102.505,119.28,558.38,524.26,4,2,0
12,BAIL,116.470000,21.046428,86.30,104.550,116.59,129.755,144.66,698.82,649.80,3,3,0
13,LARS,93.443333,20.051368,62.72,80.695,103.14,105.950,111.56,560.66,523.92,3,3,0
14,DDC,89.146667,17.525975,59.34,83.615,91.51,99.525,109.34,534.88,522.74,3,3,0
15,ROCK,88.096667,22.506669,60.88,68.285,91.70,107.210,111.44,528.58,535.46,3,3,0
16,OBIE,87.530000,18.453924,67.04,74.115,83.41,101.285,113.06,525.18,544.32,3,3,0
17,Cam,82.953333,16.943136,63.60,73.980,77.35,91.610,110.20,497.72,513.44,3,3,0
18,KANG,95.096667,18.352894,76.88,79.990,90.81,110.225,119.00,570.58,614.40,2,4,0
19,B50,93.570000,36.405300,43.94,78.465,92.07,102.150,153.90,561.42,671.54,2,4,0
20,VINA,92.850000,12.432955,76.80,85.300,93.35,97.080,112.66,557.10,585.08,2,4,0
21,DB,89.373333,14.687833,66.60,83.270,89.19,98.290,108.64,536.24,473.04,2,4,0
22,DRAG,87.363333,26.353120,52.78,68.855,89.24,103.955,122.00,524.18,598.96,2,4,0
23,KING,81.390000,14.419513,62.86,71.140,80.94,93.335,98.26,488.34,529.74,2,4,0
24,QSTG,100.270000,30.403452,73.32,81.485,93.60,103.090,157.40,601.62,691.92,1,5,0
25,TRAN,80.536667,21.563419,59.50,62.385,79.25,90.265,114.52,483.22,598.74,1,5,0
26,SRIV,66.253333,13.488328,53.98,55.675,63.81,72.200,87.96,397.52,626.98,1,5,0
27,GEOR,65.070000,17.436700,45.58,53.025,62.88,73.005,92.96,390.42,619.12,1,5,0
28,ZHAO,59.546667,20.302101,43.40,45.915,53.85,62.385,97.68,357.28,551.04,0,6,0