In [1]:
# taken partially from tutorial at: https://stmorse.github.io/journal/espn-fantasy-python.html
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import requests

league1 = 380134
league2 = 1553391
leagues=[league1, league2]

weeks = 3

scores={}

for i in range(len(leagues)):
    scores[i] = {}
for week in range(1, weeks+1):
    for league in range(len(leagues)):
        r = requests.get('http://games.espn.com/ffl/api/v2/scoreboard', 
                         params={'leagueId': leagues[league], 'seasonId': 2018, 'matchupPeriodId': week})
        scores[league][week] = r.json()

df = []
# test = pd.DataFrame.from_dict(scores[1], orient='index')
# test.reset_index(level=0, inplace=True)
# display(test)
# print(scores[1])
for league in range(len(leagues)):
    for key in scores[league]:
        temp = scores[league][key]['scoreboard']['matchups']
        for match in temp:
#           create ints to determine who won
            home = 0
            away = 0
            if match["winner"]=="home":
                home=1
                away=-1
            else:
                home=-1
                away=1
                
            df.append([key, 
                       match['teams'][0]['team']['teamAbbrev'],
                       match['teams'][1]['team']['teamAbbrev'],
                       match['teams'][0]['score'],
                       match['teams'][1]['score'],
                       home,
                       away
                      ])
df = pd.DataFrame(df, columns=['Week', 'HomeAbbrev', 'AwayAbbrev', 'HomeScore', 'AwayScore', 'Home Record', 'Away Record'])
df.head()
df = (df[['Week', 'HomeAbbrev', 'HomeScore', 'Home Record']]
      .rename(columns={'HomeAbbrev': 'Abbrev', 'HomeScore': 'Score', 'Home Record':'# Wins - # Losses'})
      .append(df[['Week', 'AwayAbbrev', 'AwayScore', 'Away Record']]
             .rename(columns={'AwayAbbrev': 'Abbrev', 'AwayScore': 'Score', 'Away Record' : '# Wins - # Losses'}))
     )
df1 = df.groupby("Abbrev")["Score"].describe().drop("count", axis=1)
s2 = df.groupby("Abbrev")['# Wins - # Losses'].sum()
s1 = df.groupby("Abbrev")['Score'].sum()
finalDF = df1.join(s2).join(s1).rename(columns={'Score':"Total Score"})
#  df.sort_values(by=['col1', 'col2'])
finalDF = finalDF.sort_values(by=['# Wins - # Losses','Total Score'], ascending=False)
finalDF = finalDF.reset_index()
finalDF.index +=1
display(finalDF)

,Abbrev,mean,std,min,25%,50%,75%,max,# Wins - # Losses,Total Score
1,PETR,110.506667,69.550340,47.54,73.18,98.82,141.99,185.16,3,331.52
2,HARN,86.353333,49.760291,29.28,69.21,109.14,114.89,120.64,3,259.06
3,FITZ,85.473333,43.678632,35.18,71.26,107.34,110.62,113.90,3,256.42
4,NATH,67.166667,39.715852,24.00,49.67,75.34,88.75,102.16,3,201.50
5,LURI,89.940000,56.465653,24.74,73.49,122.24,122.54,122.84,1,269.82
6,DREW,89.840000,59.766158,20.88,71.44,122.00,124.32,126.64,1,269.52
7,LEE,83.673333,41.742239,35.80,69.28,102.76,107.61,112.46,1,251.02
8,AUTO,79.760000,38.388576,44.70,59.25,73.80,97.29,120.78,1,239.28
9,ROCK,78.673333,45.800036,26.34,62.29,98.24,104.84,111.44,1,236.02
10,DDC,71.500000,33.460377,45.82,52.58,59.34,84.34,109.34,1,214.50
11,B50,70.873333,37.807895,28.48,55.76,83.04,92.07,101.10,1,212.62
12,Cam,68.600000,44.925556,20.96,47.80,74.64,92.42,110.20,1,205.80
13,LARS,66.906667,42.714163,26.44,44.58,62.72,87.14,111.56,1,200.72
14,DRAG,62.166667,42.226448,18.00,42.18,66.36,84.25,102.14,1,186.50
15,KING,58.213333,27.288344,28.90,45.88,62.86,72.87,82.88,1,174.64
16,MACK,90.413333,44.549812,48.20,67.13,86.06,111.52,136.98,-1,271.24
17,AQP,79.473333,54.468256,17.58,59.16,100.74,110.42,120.10,-1,238.42
18,KANG,70.340000,55.063236,8.94,47.84,86.74,101.04,115.34,-1,211.02
19,VINA,68.760000,36.459078,27.26,55.32,83.38,89.51,95.64,-1,206.28
20,OBIE,68.126667,50.064991,14.16,45.66,77.16,95.11,113.06,-1,204.38
21,MASI,66.640000,43.776245,19.90,46.62,73.34,90.01,106.68,-1,199.92
22,QSTG,56.160000,35.718337,15.10,44.21,73.32,76.69,80.06,-1,168.48
23,GEOR,49.540000,27.842608,19.20,37.35,55.50,64.71,73.92,-1,148.62
24,BAIL,65.960000,49.715257,9.30,47.80,86.30,94.29,102.28,-3,197.88
25,DB,64.500000,42.832189,15.12,50.95,86.78,89.19,91.60,-3,193.50
26,ZHAO,64.293333,31.094625,36.16,47.60,59.04,78.36,97.68,-3,192.88
27,TRAN,60.633333,28.642691,32.22,46.20,60.18,74.84,89.50,-3,181.90
28,SRIV,54.573333,17.847020,36.10,46.00,55.90,63.81,71.72,-3,163.72