In [18]:
# taken partially from tutorial at: https://stmorse.github.io/journal/espn-fantasy-python.html
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import requests

league1 = 380134
league2 = 1553391
leagues=[league1, league2]

weeks = 2

scores={}

for i in range(len(leagues)):
    scores[i] = {}
for week in range(1, weeks+1):
    for league in range(len(leagues)):
        r = requests.get('http://games.espn.com/ffl/api/v2/scoreboard', 
                         params={'leagueId': leagues[league], 'seasonId': 2018, 'matchupPeriodId': week})
        scores[league][week] = r.json()

df = []
# test = pd.DataFrame.from_dict(scores[1], orient='index')
# test.reset_index(level=0, inplace=True)
# display(test)
# print(scores[1])
for league in range(len(leagues)):
    for key in scores[league]:
        temp = scores[league][key]['scoreboard']['matchups']
        for match in temp:
#           create ints to determine who won
            home = 0
            away = 0
            if match["winner"]=="home":
                home=1
                away=-1
            else:
                home=-1
                away=1
                
            df.append([key, 
                       match['teams'][0]['team']['teamAbbrev'],
                       match['teams'][1]['team']['teamAbbrev'],
                       match['teams'][0]['score'],
                       match['teams'][1]['score'],
                       home,
                       away
                      ])
df = pd.DataFrame(df, columns=['Week', 'HomeAbbrev', 'AwayAbbrev', 'HomeScore', 'AwayScore', 'Home Record', 'Away Record'])
df.head()
df = (df[['Week', 'HomeAbbrev', 'HomeScore', 'Home Record']]
      .rename(columns={'HomeAbbrev': 'Abbrev', 'HomeScore': 'Score', 'Home Record':'# Wins - # Losses'})
      .append(df[['Week', 'AwayAbbrev', 'AwayScore', 'Away Record']]
             .rename(columns={'AwayAbbrev': 'Abbrev', 'AwayScore': 'Score', 'Away Record' : '# Wins - # Losses'}))
     )
df1 = df.groupby("Abbrev")["Score"].describe().drop("count", axis=1)
s2 = df.groupby("Abbrev")['# Wins - # Losses'].sum()
s1 = df.groupby("Abbrev")['Score'].sum()
finalDF = df1.join(s2).join(s1).rename(columns={'Score':"Total Score"})
#  df.sort_values(by=['col1', 'col2'])
finalDF = finalDF.sort_values(by=['# Wins - # Losses','Total Score'], ascending=False)
finalDF = finalDF.reset_index()
finalDF.index +=1
display(finalDF)

,Abbrev,mean,std,min,25%,50%,75%,max,# Wins - # Losses,Total Score
1,DREW,124.32,3.280975,122.00,123.160,124.32,125.480,126.64,2,248.64
2,LURI,122.54,0.424264,122.24,122.390,122.54,122.690,122.84,2,245.08
3,MACK,111.52,36.005877,86.06,98.790,111.52,124.250,136.98,2,223.04
4,FITZ,109.22,2.658721,107.34,108.280,109.22,110.160,111.10,2,218.44
5,LEE,107.61,6.858936,102.76,105.185,107.61,110.035,112.46,2,215.22
6,HARN,104.64,22.627417,88.64,96.640,104.64,112.640,120.64,2,209.28
7,AUTO,97.29,33.219877,73.80,85.545,97.29,109.035,120.78,2,194.58
8,DDC,84.34,35.355339,59.34,71.840,84.34,96.840,109.34,2,168.68
9,NATH,78.15,33.955268,54.14,66.145,78.15,90.155,102.16,2,156.30
10,PETR,137.69,67.132718,90.22,113.955,137.69,161.425,185.16,0,275.38
11,AQP,110.42,13.689587,100.74,105.580,110.42,115.260,120.10,0,220.84
12,ROCK,104.84,9.333810,98.24,101.540,104.84,108.140,111.44,0,209.68
13,KANG,101.04,20.223254,86.74,93.890,101.04,108.190,115.34,0,202.08
14,OBIE,95.11,25.385133,77.16,86.135,95.11,104.085,113.06,0,190.22
15,B50,92.07,12.770348,83.04,87.555,92.07,96.585,101.10,0,184.14
16,MASI,89.46,22.797123,73.34,81.400,89.46,97.520,105.58,0,178.92
17,DB,87.79,5.388154,83.98,85.885,87.79,89.695,91.60,0,175.58
18,LARS,83.59,39.555553,55.62,69.605,83.59,97.575,111.56,0,167.18
19,SRIV,59.16,17.762522,46.60,52.880,59.16,65.440,71.72,0,118.32
20,BAIL,94.29,11.299566,86.30,90.295,94.29,98.285,102.28,-2,188.58
21,Cam,92.42,25.144717,74.64,83.530,92.42,101.310,110.20,-2,184.84
22,VINA,89.51,8.669129,83.38,86.445,89.51,92.575,95.64,-2,179.02
23,DRAG,84.25,25.300281,66.36,75.305,84.25,93.195,102.14,-2,168.50
24,ZHAO,78.36,27.322606,59.04,68.700,78.36,88.020,97.68,-2,156.72
25,QSTG,75.39,2.927422,73.32,74.355,75.39,76.425,77.46,-2,150.78
26,TRAN,74.84,20.732371,60.18,67.510,74.84,82.170,89.50,-2,149.68
27,KING,68.22,20.732371,53.56,60.890,68.22,75.550,82.88,-2,136.44
28,GEOR,64.71,13.024907,55.50,60.105,64.71,69.315,73.92,-2,129.42