In [7]:
# taken partially from tutorial at: https://stmorse.github.io/journal/espn-fantasy-python.html
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import requests

league1 = 380134
league2 = 1553391
leagues=[league1, league2]

weeks = 3

scores={}

for i in range(len(leagues)):
    scores[i] = {}
for week in range(1, weeks+1):
    for league in range(len(leagues)):
        r = requests.get('http://games.espn.com/ffl/api/v2/scoreboard', 
                         params={'leagueId': leagues[league], 'seasonId': 2018, 'matchupPeriodId': week})
        scores[league][week] = r.json()

df = []
# test = pd.DataFrame.from_dict(scores[1], orient='index')
# test.reset_index(level=0, inplace=True)
# display(test)
# print(scores[1])
for league in range(len(leagues)):
    for key in scores[league]:
        temp = scores[league][key]['scoreboard']['matchups']
        for match in temp:
#           create ints to determine who won
            home = 0
            away = 0
            if match["winner"]=="home":
                home=1
                away=-1
            else:
                home=-1
                away=1
                
            df.append([key, 
                       match['teams'][0]['team']['teamAbbrev'],
                       match['teams'][1]['team']['teamAbbrev'],
                       match['teams'][0]['score'],
                       match['teams'][1]['score'],
                       home,
                       away
                      ])
df = pd.DataFrame(df, columns=['Week', 'HomeAbbrev', 'AwayAbbrev', 'HomeScore', 'AwayScore', 'Home Record', 'Away Record'])
df.head()
df = (df[['Week', 'HomeAbbrev', 'HomeScore', 'Home Record']]
      .rename(columns={'HomeAbbrev': 'Abbrev', 'HomeScore': 'Score', 'Home Record':'# Wins - # Losses'})
      .append(df[['Week', 'AwayAbbrev', 'AwayScore', 'Away Record']]
             .rename(columns={'AwayAbbrev': 'Abbrev', 'AwayScore': 'Score', 'Away Record' : '# Wins - # Losses'}))
     )
display(df)
df1 = df.groupby("Abbrev")["Score"].describe().drop("count", axis=1)
s2 = df.groupby("Abbrev")['# Wins - # Losses'].sum()
s1 = df.groupby("Abbrev")['Score'].sum()
finalDF = df1.join(s2).join(s1).rename(columns={'Score':"Total Score"})
#  df.sort_values(by=['col1', 'col2'])
finalDF = finalDF.sort_values(by=['# Wins - # Losses','Total Score'], ascending=False)
finalDF = finalDF.reset_index()
finalDF.index +=1
display(finalDF)

    Week Abbrev   Score  # Wins - # Losses
0      1   KANG  115.34                 -1
1      1    LEE  102.76                  1
2      1   SRIV   71.72                 -1
3      1   HARN  120.64                  1
4      1   FITZ  107.34                  1
5      1   ROCK  111.44                  1
6      1   LARS  111.56                  1
7      2   BAIL  102.28                 -1
8      2   TRAN   60.18                 -1
9      2    Cam  110.20                  1
10     2   QSTG   80.06                 -1
11     2   DRAG  102.14                  1
12     2   ROCK   98.24                 -1
13     2   LARS   62.72                 -1
14     3   TRAN   59.60                 -1
15     3   BAIL  121.82                 -1
16     3   DREW   90.00                 -1
17     3   KANG   77.74                 -1
18     3   MACK   99.42                 -1
19     3    LEE  129.04                 -1
20     3   SRIV   55.60                 -1
21     1   OBIE  113.06                 -1
22     1     DB   91.60                 -1
23     1   MASI   73.34                 -1
24     1   NATH  102.16                  1
25     1    DDC  109.34                  1
26     1   GEOR   73.92                 -1
27     1   KING   82.88                 -1
28     2    AQP  120.10                 -1
29     2   ZHAO   59.04                 -1
..   ...    ...     ...                ...
12     2   HARN  109.14                  1
13     2   FITZ  113.90                  1
14     3    Cam   95.46                  1
15     3   QSTG   85.76                  1
16     3   DRAG   76.34                  1
17     3   ROCK   85.16                  1
18     3   LARS  105.44                  1
19     3   HARN  121.34                  1
20     3   FITZ  110.00                  1
21     1   LURI  122.24                  1
22     1    AQP  100.74                  1
23     1   AUTO   73.80                  1
24     1   ZHAO   97.68                 -1
25     1   VINA   95.64                 -1
26     1   PETR  185.16                  1
27     1    B50   83.04                  1
28     2   AUTO  120.78                  1
29     2   OBIE   77.16                  1
30     2   LURI  122.84                  1
31     2     DB   86.78                 -1
32     2   MASI  106.68                  1
33     2   NATH   75.34                  1
34     2    DDC   59.34                 -1
35     3   VINA   91.06                  1
36     3   PETR  124.84                  1
37     3    B50  102.40                  1
38     3   GEOR   52.20                  1
39     3   KING   68.52                  1
40     3   NATH   77.74                  1
41     3    DDC  100.30                  1

[84 rows x 4 columns]

,Abbrev,mean,std,min,25%,50%,75%,max,# Wins - # Losses,Total Score
1,PETR,136.273333,44.290967,98.82,111.83,124.84,155.00,185.16,3,408.82
2,HARN,117.040000,6.850547,109.14,114.89,120.64,120.99,121.34,3,351.12
3,FITZ,110.413333,3.299475,107.34,108.67,110.00,111.95,113.90,3,331.24
4,NATH,85.080000,14.840310,75.34,76.54,77.74,89.95,102.16,3,255.24
5,LURI,115.146667,12.809143,100.36,111.30,122.24,122.54,122.84,1,345.44
6,LEE,114.753333,13.289249,102.76,107.61,112.46,120.75,129.04,1,344.26
7,DREW,112.880000,19.950018,90.00,106.00,122.00,124.32,126.64,1,338.64
8,AUTO,107.340000,29.236751,73.80,97.29,120.78,124.11,127.44,1,322.02
9,ROCK,98.280000,13.140046,85.16,91.70,98.24,104.84,111.44,1,294.84
10,B50,95.513333,10.821762,83.04,92.07,101.10,101.75,102.40,1,286.54
11,Cam,93.433333,17.866419,74.64,85.05,95.46,102.83,110.20,1,280.30
12,LARS,93.240000,26.607638,62.72,84.08,105.44,108.50,111.56,1,279.72
13,DDC,89.660000,26.644084,59.34,79.82,100.30,104.82,109.34,1,268.98
14,DRAG,81.613333,18.463698,66.36,71.35,76.34,89.24,102.14,1,244.84
15,KING,71.420000,10.320252,62.86,65.69,68.52,75.70,82.88,1,214.26
16,AQP,110.013333,9.705593,100.74,104.97,109.20,114.65,120.10,-1,330.04
17,MACK,107.486667,26.401040,86.06,92.74,99.42,118.20,136.98,-1,322.46
18,OBIE,93.293333,18.223703,77.16,83.41,89.66,101.36,113.06,-1,279.88
19,KANG,93.273333,19.632965,77.74,82.24,86.74,101.04,115.34,-1,279.82
20,VINA,90.026667,6.194976,83.38,87.22,91.06,93.35,95.64,-1,270.08
21,MASI,90.000000,16.670009,73.34,81.66,89.98,98.33,106.68,-1,270.00
22,QSTG,79.713333,6.227241,73.32,76.69,80.06,82.91,85.76,-1,239.14
23,GEOR,60.540000,11.704307,52.20,53.85,55.50,64.71,73.92,-1,181.62
24,BAIL,103.466667,17.789709,86.30,94.29,102.28,112.05,121.82,-3,310.40
25,DB,81.660000,13.263137,66.60,76.69,86.78,89.19,91.60,-3,244.98
26,TRAN,69.760000,17.097801,59.60,59.89,60.18,74.84,89.50,-3,209.28
27,ZHAO,68.460000,25.832003,48.66,53.85,59.04,78.36,97.68,-3,205.38
28,SRIV,61.073333,9.221504,55.60,55.75,55.90,63.81,71.72,-3,183.22