In [1]:
# taken partially from tutorial at: https://stmorse.github.io/journal/espn-fantasy-python.html
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import requests

league1 = 380134
league2 = 1553391
leagues=[league1, league2]

weeks = 5

scores={}

for i in range(len(leagues)):
    scores[i] = {}
for week in range(1, weeks+1):
    for league in range(len(leagues)):
        r = requests.get('http://games.espn.com/ffl/api/v2/scoreboard', 
                         params={'leagueId': leagues[league], 'seasonId': 2018, 'matchupPeriodId': week})
        scores[league][week] = r.json()

df = []
dfRecord = []
for league in range(len(leagues)):
    for week in scores[league]:
        temp = scores[league][week]['scoreboard']['matchups']
        for match in temp:
            
            df.append([week, 
                       match['teams'][0]['team']['teamAbbrev'],
                       match['teams'][1]['team']['teamAbbrev'],
                       match['teams'][0]['score'],
                       match['teams'][1]['score']
                      ])


df = pd.DataFrame(df, columns=['Week', 'HomeAbbrev', 'AwayAbbrev', 'HomeScore', 'AwayScore'])
df.head()
df = (df[['Week', 'HomeAbbrev', 'HomeScore']]
      .rename(columns={'HomeAbbrev': 'Abbrev', 'HomeScore': 'Score'})
      .append(df[['Week', 'AwayAbbrev', 'AwayScore']]
             .rename(columns={'AwayAbbrev': 'Abbrev', 'AwayScore': 'Score'}))
     )

# now adding the record:

for league in range(len(leagues)):
    temp2=scores[league][weeks]['scoreboard']['matchups']
    for match in temp2:
        for team in match['teams']:
#         append "points for" for debugging purposes
            dfRecord.append([
                            team['team']['teamAbbrev'],
                            team['team']['record']['pointsFor'],
                            team['team']['record']['pointsAgainst'],
                            team['team']['record']['overallWins'],
                            team['team']['record']['overallLosses'],
                            team['team']['record']['overallTies']
                            ])
dfRecord = pd.DataFrame(dfRecord, columns=["Abbrev", "Points For", "Points Against", "Overall Wins","Overall Losses", "Overall Ties"])
dfRecord = dfRecord.set_index('Abbrev')
df1 = df.groupby("Abbrev")["Score"].describe().drop("count", axis=1)
s1 = df.groupby("Abbrev")['Score'].sum()
finalDF = df1.join(dfRecord)
finalDF = finalDF.sort_values(by=['Overall Wins','Points For'], ascending=[False,False])
finalDF = finalDF.reset_index()
finalDF.index +=1
display(finalDF)

,Abbrev,mean,std,min,25%,50%,75%,max,Points For,Points Against,Overall Wins,Overall Losses,Overall Ties
1,LEE,105.776,15.696161,88.58,96.04,102.76,112.46,129.04,528.88,433.58,5,0,0
2,HARN,117.240,9.983877,105.20,109.14,120.64,121.34,129.88,586.20,529.58,4,1,0
3,LURI,113.404,15.536463,93.26,100.36,122.24,122.84,128.32,567.02,501.14,4,1,0
4,FITZ,108.788,7.355795,97.00,107.34,110.00,113.90,115.70,543.94,403.82,4,1,0
5,AUTO,107.572,21.629030,73.80,98.94,116.90,120.78,127.44,537.86,510.08,4,1,0
6,NATH,84.720,15.584595,67.90,75.34,77.74,100.46,102.16,423.60,383.20,4,1,0
7,PETR,116.724,46.046160,58.32,98.82,116.48,124.84,185.16,583.62,524.26,3,2,0
8,MACK,108.252,21.276995,86.06,95.04,99.42,123.76,136.98,541.26,497.42,3,2,0
9,AQP,107.228,7.984167,100.74,101.00,105.10,109.20,120.10,536.14,478.22,3,2,0
10,DREW,104.684,20.535279,78.48,90.00,106.30,122.00,126.64,523.42,461.08,3,2,0
11,MASI,95.400,17.836025,73.34,87.72,89.98,106.68,119.28,477.00,445.26,3,2,0
12,ROCK,93.540,20.272237,62.66,85.16,98.24,110.20,111.44,467.70,456.84,3,2,0
13,OBIE,91.628,17.312773,73.10,77.16,89.66,105.16,113.06,458.14,435.00,3,2,0
14,DDC,87.536,19.091697,59.34,82.88,85.82,100.30,109.34,437.68,424.36,3,2,0
15,Cam,84.792,18.261493,63.60,74.64,80.06,95.46,110.20,423.96,399.24,3,2,0
16,BAIL,110.832,17.756332,86.30,102.28,111.36,121.82,132.40,554.16,535.28,2,3,0
17,B50,103.496,30.294245,76.94,83.04,101.10,102.50,153.90,517.48,516.36,2,3,0
18,DRAG,94.280,22.567822,66.36,76.34,102.14,104.56,122.00,471.40,511.86,2,3,0
19,LARS,91.964,22.049002,62.72,73.98,105.44,106.12,111.56,459.82,469.94,2,3,0
20,VINA,91.908,13.658979,76.80,83.38,91.06,95.64,112.66,459.54,466.82,2,3,0
21,KING,81.868,16.068271,62.86,68.52,82.88,96.82,98.26,409.34,448.36,2,3,0
22,QSTG,99.596,33.941940,73.32,80.06,85.76,101.44,157.40,497.98,572.92,1,4,0
23,KANG,90.316,15.799528,76.88,77.74,86.74,94.88,115.34,451.58,510.76,1,4,0
24,DB,85.520,12.581900,66.60,82.10,86.78,91.60,100.52,427.60,427.46,1,4,0
25,TRAN,73.740,15.322082,59.50,60.18,69.00,89.50,90.52,368.70,454.08,1,4,0
26,GEOR,68.968,16.312269,52.20,55.50,70.26,73.92,92.96,344.84,510.48,1,4,0
27,SRIV,68.708,13.499197,55.60,55.90,71.72,72.36,87.96,343.54,526.14,1,4,0
28,ZHAO,62.776,20.904657,45.00,48.66,59.04,63.50,97.68,313.88,422.74,0,5,0